{% load static %}
<!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Bazı Önerilen Lezzetler</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Tümü</li>
                            <li data-filter=".hamburger">Hamburger</li>
                            <li data-filter=".pizza">Pizza</li>
                            <li data-filter=".cigkofte">Çiğ Köfte</li>
                            <li data-filter=".tavuk">Tavuk</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix hamburger">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/product/burgerking/menuler/bigking.jpg'%}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Big King (Burger King)</a></h6>
                            <h5>75 TL</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix pizza">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/product/pizzahut/menuler/algidamenu1.jpg'%}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Algida Menü 1 (Pizza Hut)</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix cigkofte">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/product/isottocigkofte/ensevilenler/tekimcigkofte.jpg'%}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Tekim Çiğ Köfte Menü (İsotto)</a></h6>
                            <h5>65 TL</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix tavuk">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/product/oncudoner/menuler/kazandiran.jpg'%}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Kazandıran Menü (Öncü Döner)</a></h6>
                            <h5>70 TL</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix pizza">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/product/dominospizza/menuler/ikiliortaboy.jpg'%}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">İkili Orta Boy Pizza (Dominos)</a></h6>
                            <h5>110 TL</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix hamburger">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/product/mcdonalds/menuler/milliburger.jpg'%}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Milli Burger (Mc Donald's)</a></h6>
                            <h5>85 TL</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix tavuk">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/product/tavukdunyasi/menuler/tek_kisilik_ziyafet_menusu.jpg'%}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Tek Kişilik Ziyafet Menüsü (Tavuk Dünyası)</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix tavuk">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static 'img/product/baruthanepilavcisi/pilav/avantajlimenu.jpg'%}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Avantajlı Menü (Baruthane Pilavcısı)</a></h6>
                            <h5>55 TL</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

<!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-01.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-02.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

<!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>En Çok Sipariş Edilenler</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/burgerking/burger/bigking.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Big King<br>(Burger King)</h6>
                                        <span>80 TL</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/pizzahut/ensevilenler/ortaboy.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Orta Boy Pizza<br>(Pizza Hut)</h6>
                                        <span>75 TL</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/tavukdunyasi/ensevilenler/kekiklim.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Kekiklim<br>(Tavuk Dünyası)</h6>
                                        <span>120 TL</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/oncudoner/menuler/avantajlitavuk.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Avantajlı Tavuk Menü<br>(Öncü Döner)</h6>
                                        <span>70 TL</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/sampiyonkokorec/ensevilenler/yarimekmek.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Yarım Ekmek Kokoreç<br>(Şampiyon Kokoreç)</h6>
                                        <span>65 TL</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/mcdonalds/menuler/milliburger.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Milli Burger<br>(Mc Donald's</h6>
                                        <span>90 TL</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>En Sevilen Restoranlar</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-product__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/categories/burgerking.png'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>Burger King</h5>
                                        <span>⭐4.8</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/categories/oncudoner.png'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>Öncü Döner</h5>
                                        <span>⭐4.7</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/categories/tavukdunyasi.png'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>Tavuk Dünyası</h5>
                                        <span>⭐4.6</span>
                                    </div>
                                </a>
                            </div>

                            <div class="latest-product__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/categories/baruthane.png'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>Baruthane Pilavcısı</h5>
                                        <span>⭐4.5</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/categories/dominos.png'%}"  alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>Dominos Pizza</h5>
                                        <span>⭐4.3</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/categories/isottoresize.png'%}"  alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h5>İsotto Çiğ Köfte </h5>
                                        <span>⭐4.2</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Öğrenci Dostu Yemekler</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/oncudoner/doner/rsz_1tavuk.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Tavuk Dürüm<br>(Öncü Döner)</h6>
                                        <span>25 TL</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/isottocigkofte/cigkofte/cigkofte.png'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Çiğ Köfte Dürüm<br>(İsotto)</h6>
                                        <span>20 TL</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/baruthanepilavcisi/ensevilenler/ogrencidostu.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Öğrenci Dostu Menü<br>(Baruthane Pilavcısı)</h6>
                                        <span>35 TL</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/avsartantuni/tantuni/tavuk.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Tavuk Tantuni Dürüm<br>(Avşar Tantuni)</h6>
                                        <span>28 TL</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/tatlicisafa/ensevilenler/tahinlibrownie.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Tahinli Brownie<br>(Tatlıcı Safa)</h6>
                                        <span>24 TL</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{% static 'img/product/basakevyemekleri/gunlukmenu/tavuklupatates.jpg'%}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Tavuklu Patates Yemeği<br>(Başak Ev Yemekleri)</h6>
                                        <span>32 TL</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->