{% load static %}
<!-- Page Preloder -->
    <div id="preloder">
        <div class ="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> yasofood@help.com</li>
                                <li><b style="color: #383d41" >' ACIKINCA AKLA GELEN TEK ADRES '</b></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="{% static 'img/turkbayragi.png'%}" width="25" alt="">
                                <div>Türkçe(TR)</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">İngilizce(EN)</a></li>

                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i>Giriş Yap</a>
                            </div>
                            &nbsp;
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-sign-in"></i>Kayıt Ol</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/home"><img src="{% static 'img/yasologo.png'%}" width="175" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/home">Ana Sayfa</a></li>
                            <li><a href="#">Sipariş Ver</a></li>
                            <li><a href="#">Sayfalar</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/faq">Sıkça Sorular Sorular</a></li>
                                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                                    <li><a href="/referans">Referanslarımız</a></li>
                                    <li><a href="/contact">Bize Ulaşın</a></li>

                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">Toplam Tutar: <span>150 TL</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
