{% load static %}
 <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Tüm Restoranlar</span>
                        </div>
                        <ul>
                            <li><a href="#">Burger King</a></li>
                            <li><a href="#">McDonald's</a></li>
                            <li><a href="#">Tavuk Dünyası</a></li>
                            <li><a href="#">Öncü Döner</a></li>
                            <li><a href="#">Dominos Pizza</a></li>
                            <li><a href="#">Pizza Hut</a></li>
                            <li><a href="#">İsotto Çiğ Köfte</a></li>
                            <li><a href="#">Avşar Tantuni</a></li>
                            <li><a href="#">Başak Ev Yemekleri</a></li>
                            <li><a href="#">Şampiyon Kokoreç</a></li>
                            <li><a href="#">Alihan Izgara</a></li>
                            <li><a href="#">Baruthane Pilavcısı</a></li>
                            <li><a href="#">Tatlıcı Safa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="Ne Yemek İstersiniz?">
                                <button type="submit" class="site-btn">ARA</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+90 0226 000 00</h5>
                                <span>7/24 Destek</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static 'img/banner/banner-03.jpg'%}">
                        <div class="hero__text">
                            <span style="font-size:25px">Enfes Pizzalar ve Daha Birçok Lezzet </span>
                            <h2 style="color:lightblue">YILBAŞINA ÖZEL EFSANE<br> İNDİRİMLERİ KAÇIRMA!<br /><br>
                            <a href="#" class="primary-btn">HEMEN SİPARİŞ VER!</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->