{% load static %}
<!-- Categories Section Begin -->
    <section class="categories">
        <h2 style="text-align: center; font-size: xx-large; border-style: solid; border-width:
         3px; background-color: #d4edda; font-family:'Franklin Gothic Medium'; border-color: darkgray"> TÜM RESTORANLAR</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/burgerking.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/mcdonald.png'%}">
                        </div></a>

                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/tavukdunyasi.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/oncudoner.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/dominos.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/pizzahut.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/isottologo.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/avsartantuni.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/basakyemek.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/sampiyonkokorec.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/alihanizgara.png'%}">
                        </div></a>
                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/baruthane.png'%}">
                        </div></a>

                    </div>

                    <div class="col-lg-3">
                        <a href="#">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/safatatli.png'%}">
                        </div></a>

                    </div>

                </div>
            </div>
        </div>
        <br>
        <h2 style=" border-style: solid;text-align: center; border-width:
         3px; background-color: #d4edda; border-color: darkgray">
            <img src="{% static 'img/yasologo.png'%}" width="100">
        </h2>


    </section>

    <!-- Categories Section End -->